.header-about {
  background:url("../images/about/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.about-quote {
  background:url("../images/about/about.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:41.5%;
}


.visi-misi {
  background: $gray;

  .text-center {
    border-right: thin solid #d9d2d2;
    padding: 50px 140px 50px 140px;
  }

  h1 {
    margin-bottom: 40px;
  }
}
