.header-jobs {
  background:url("../images/jobs/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.jobs {
  img {
    width: 100px;
    opacity: 0.6;
    margin-bottom: 50px;
  }
  .title {
    min-height: 80px;
    h3 {
      font-weight: 400;
    }
  }
  .lists {
    background: $gray;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -30px;
    h3 {
      margin:0 !important;
      font-weight: 400;
    }
    .container {
      margin-bottom: 20px;
      border-bottom: 1px solid #eeeeee;

      .city {
        margin-top: -10px;
      }
      .label {
        font-weight: 200;
        font-size: 17px;
      }

      .label-default {
        background-color: #008830;
      }
    }
  }
}

.detail-jobs {
  ul {
    list-style: circle;
    padding-left: 20px;
    font-size: 20px;
    line-height: 40px;
    opacity: 0.8;
  }
  .sub {
    font-weight: 400;
    color: $blue;
  }

  .glyphicon {
    margin-top:10px;
  }
  .judul {
    margin-top: -20px !important;
  }



  .jssocials-share-link {
    padding: .5em .6em;
    border-radius: 0.9em;

  }

  .sidebar {
    padding-left:30px;
    button {
      margin-bottom: 20px;
    }
    p {
      opacity: 0.5;
      margin-bottom: 10px;
    }
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.9);
  }


}
