.header-premium {
  background:url("../images/premium/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-premium {
  background:url("../images/premium/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-corporate {
  background:url("../images/corporate/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-corporate {
  background:url("../images/corporate/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-iix {
  background:url("../images/iix/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-iix {
  background:url("../images/iix/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-loop {
  background:url("../images/loop/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-loop {
  background:url("../images/loop/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-soho {
  background:url("../images/soho/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-soho {
  background:url("../images/soho/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-visol {
  background:url("../images/visol/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-visol {
  background:url("../images/visol/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-apartment {
  background:url("../images/apartment/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-apartment {
  background:url("../images/apartment/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-office {
  background:url("../images/office/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.img-office {
  background:url("../images/office/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.img-dreams {
  background:url("../images/dreams/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.img-colocation {
  background:url("../images/colocation/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.img-smartwifi {
  background:url("../images/smartwifi/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.img-smartgateway {
  background:url("../images/smartgateway/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.img-voice {
  background:url("../images/voice/half.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:26%;
}

.header-dreams {
  background:url("../images/dreams/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}


.header-colocation {
  background:url("../images/colocation/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.header-smartwifi {
  background:url("../images/smartwifi/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.header-smartgateway {
  background:url("../images/smartgateway/header.jpg") no-repeat center top scroll;
  background-size: 100% auto;
  height: 0;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom:43%;
}

.product {
  .img-dnet {
    height: 40px;
    margin-bottom: 15px;
  }

  .title {
    margin-top:30px;
    margin-bottom: -10px;
  }

  .text {
    padding: 40px 60px 40px 60px;
  }

  .benefit {
    background: $gray;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -30px;
  }

  .benefit-tile {
    min-height: 170px;
    h3 {
      margin-top: -8px;
      font-weight: 400;
    }
    img {
      opacity: 0.5;
    }
  }

  .benefit-tile-dreams {
    min-height: 240px;
    h3 {
      margin-top: -8px;
      font-weight: 400;
    }
    img {
      opacity: 0.5;
    }
  }

  .benefit-tile-colo {
    min-height: 260px;
    h3 {
      margin-top: -8px;
      font-weight: 400;
    }
    img {
      opacity: 0.5;
    }
  }


  .title-dreams {
    font-weight: bold;
  }


  .panel-heading {
    background: #eeeeee;
    color: #292929;
    text-align: center;
  }

  .list-group-item.active {
    background: #f4f4f4;
    border: none;
    color: #292929;
    font-weight: 400;
  }

  .panel-body {
    padding: 50px 15px 50px 15px;
    .title-panel {
      margin-top: -10px;
    }
    img {
      padding-left: 10px;
    }
  }
  .cakupan {
    min-height: 170px;
    .p2 {
      padding-left: 39px;
      margin-top:-10px;
    }
  }
  .glyphicon {
    color: #008830;
  }


}

.dreams-page {
  .text {
    padding: 0px 60px 0px 60px !important;
  }
}
